.userInfo{
    display: flex;
    gap: 10px;
    align-items: center;

    img{
        height: fit-content;
        width: 30px;
        border-radius: 50%;
    }
    h2{
        display: block;
    }
}